@import url("./common.css");
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

.login {
  display: block;
  position: absolute;
  right: 100px;
  padding: 10px 0;
  top: 35px;
  width: 100px;
  border: #fffc00 solid 2px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  z-index: 999;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #000A3E, #000);
  overflow: hidden;
}
.intro .text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  color: #fff;
  -webkit-animation: logoani 0.7s 2s forwards cubic-bezier(0.12, 0.07, 0.25, 1.55);
          animation: logoani 0.7s 2s forwards cubic-bezier(0.12, 0.07, 0.25, 1.55);
}
@-webkit-keyframes logoani {
  0% {
    transform: translateX(-50%) translateY(-100%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
@keyframes logoani {
  0% {
    transform: translateX(-50%) translateY(-100%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
.intro .text > p {
  font-size: 36px;
  opacity: 0;
  -webkit-animation: pani 0.3s 2.7s forwards linear;
          animation: pani 0.3s 2.7s forwards linear;
}
.intro .text > p:nth-of-type(1) {
  transform: translateX(-20%);
}
.intro .text > p:nth-of-type(2) {
  text-align: right;
}
@-webkit-keyframes pani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro .img-wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}
.intro .img-wrap > img {
  display: block;
}
.intro .img-wrap > img:nth-of-type(1) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  -webkit-animation: ani1 0.5s forwards;
          animation: ani1 0.5s forwards;
  opacity: 0;
}
.intro .img-wrap > img:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 12%;
  z-index: 2;
  -webkit-animation: ani1 0.5s 0.5s forwards linear;
          animation: ani1 0.5s 0.5s forwards linear;
  opacity: 0;
}
.intro .img-wrap > img:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: 1;
  -webkit-animation: ani1 0.5s 1s forwards linear;
          animation: ani1 0.5s 1s forwards linear;
  opacity: 0;
}
.intro .img-wrap > img:nth-of-type(4) {
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 8%;
  -webkit-animation: ani1 0.5s 0.5s forwards linear;
          animation: ani1 0.5s 0.5s forwards linear;
  opacity: 0;
}
.intro .img-wrap > img:nth-of-type(5) {
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: 1;
  -webkit-animation: ani1 0.5s 1s forwards linear;
          animation: ani1 0.5s 1s forwards linear;
  opacity: 0;
}
.intro .img-wrap > img:nth-of-type(6) {
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 0;
  -webkit-animation: ani1 0.5s 1.5s forwards linear;
          animation: ani1 0.5s 1.5s forwards linear;
  opacity: 0;
}
@-webkit-keyframes ani1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.topmain {
  position: relative;
}

div.topmainim img:nth-child(1) {
  width: 100%;
}

div.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}
div.logo h1 {
  width: 100%;
  color: white;
  font-size: 40px;
  font-weight: normal;
  padding: 20px;
  margin: 0 20px;
}

.loginbutton {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  background-color: white;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.loginbutton .email {
  width: 800px;
  height: 80px;
  border: none;
  text-indent: 20px;
  border-radius: 15px;
  font-size: 14px;
  color: #000;
  font-size: 24px;
  z-index: 999;
}
.loginbutton .btn {
  border: none;
  display: block;
  padding: 0 50px;
  border-radius: 15px;
  background-color: #fffc00;
  font-size: 22px;
  color: #000;
  font-weight: 600;
}

div.onlysecond {
  margin-top: 130px;
  width: 100%;
  height: 100vh;
  background-image: url(../images/index/secondpic.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
div.onlysecond div.color {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}
div.onlysecond div.logoname {
  position: absolute;
  color: white;
  left: 10%;
  bottom: 20%;
}
div.onlysecond div.logoname img {
  width: 560px;
}
div.onlysecond div.logoname h1 {
  width: 100%;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 15px;
}
div.onlysecond div.logoname div.parag {
  text-indent: 95px;
}
div.onlysecond div.logoname h2 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 400;
}
div.onlysecond div.logoname p {
  font-size: 20px;
  font-weight: 400;
}

div.recommend {
  width: 100%;
  margin-top: 140px;
}
div.recommend div.recment {
  width: 100%;
  text-align: center;
  color: white;
}
div.recommend div.recment h2 {
  width: 100%;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 40px;
}
div.recommend div.recment h2 span {
  width: 100%;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 40px;
  color: #fffc00;
}
div.recommend div.recment a {
  width: 100%;
  color: rgb(143, 142, 142);
  font-size: 15px;
  font-weight: 400;
  border: 1px solid rgb(143, 142, 142);
  border-radius: 15px;
  padding: 4px 30px;
  margin: 0 10px;
}

div.firsttoonzip {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 66px;
}
div.firsttoonzip p {
  color: rgb(143, 142, 142);
  width: 12.5%;
  font-size: 18px;
  text-align: center;
}
div.firsttoonzip img {
  width: 87.5%;
}
div.firsttoonzip ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.firsttoonzip ul li {
  width: 15%;
  height: 20vh;
  background-color: #ddd;
}
div.firsttoonzip ul li > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-animation: opaani 0.3s forwards;
          animation: opaani 0.3s forwards;
}
@-webkit-keyframes opaani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opaani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  margin: 200px 0;
  padding: 0 100px;
}
div.contents img {
  padding: 40px;
}
div.contents p.titlef {
  padding: 20px;
  font-size: 20px;
}

div.webflexqna {
  width: 100%;
  color: white;
  margin-bottom: 190px;
}
div.webflexqna h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
div.webflexqna div.aqna {
  margin-top: 100px;
  position: relative;
  padding: 0 100px;
}
div.webflexqna div.aqna a {
  width: 100%;
  color: white;
  border-bottom: 1px white solid;
  font-size: 16px;
  display: block;
  padding: 30px 0;
  text-indent: 20px;
}
div.webflexqna div.aqna a div.what {
  display: flex;
  justify-content: space-between;
}
div.webflexqna div.aqna a div.what > img {
  display: inline-block;
  width: 40px;
  height: 20px;
}
div.webflexqna div.aqna a h2 {
  font-size: 24px;
  font-weight: 400;
}
div.webflexqna div.aqna a .box {
  height: 0px;
  background-color: rgb(12, 0, 39);
  display: none;
  align-items: center;
}
div.webflexqna div.aqna a .box p {
  display: block;
  width: 100%;
}
@-webkit-keyframes textani1 {
  0% {
    height: 0px;
  }
  100% {
    height: 60px;
    display: flex;
  }
}
@keyframes textani1 {
  0% {
    height: 0px;
  }
  100% {
    height: 60px;
    display: flex;
  }
}
@keyframes textani1 {
  0% {
    height: 60px;
    display: flex;
  }
  100% {
    height: 0px;
    display: none;
  }
}/*# sourceMappingURL=index.css.map */