@import url(./common.css);

.intro{
    
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,#000A3E,#000);
    overflow: hidden;
    
    .text{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%) translateY(-200%);
        color: #fff;
        animation: logoani 0.7s 2s forwards cubic-bezier(.12,.07,.25,1.55);

        @keyframes logoani {
            0%{transform: translateX(-50%) translateY(-100%);}
            100%{transform: translateX(-50%) translateY(0%);}
        }
        >p{
            font-size: 36px;
            opacity: 0;
            animation: pani 0.5s 3s forwards linear;
            &:nth-of-type(1){
                transform: translateX(-20%);
            }
            &:nth-of-type(2){
                text-align: right;
            }
        }
        @keyframes pani {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
    .img-wrap{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        >img{
            display: block;
            &:nth-of-type(1){
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                animation: ani1 0.5s forwards;
                opacity: 0;
            }
            &:nth-of-type(2){
                position: absolute;
                bottom: 0;
                right: 12%;
                z-index: 2;
                animation: ani1 0.5s 0.5s forwards linear;
                opacity: 0;
            }
            &:nth-of-type(3){
                position: absolute;
                bottom: 0;
                right: -10%;
                z-index: 1;
                animation: ani1 0.5s 1s forwards linear;
                opacity: 0;
            }
            &:nth-of-type(4){
                position: absolute;
                bottom: 0;
                z-index: 2;
                left: 8%;
                animation: ani1 0.5s 0.5s forwards linear;
                opacity: 0;
            }
            &:nth-of-type(5){
                position: absolute;
                bottom: 0;
                left: 20%;
                z-index: 1;
                animation: ani1 0.5s 1s forwards linear;
                opacity: 0;
            }
            &:nth-of-type(6){
                position: absolute;
                bottom: 0;
                left: -10%;
                z-index: 0;
                animation: ani1 0.5s 1.5s forwards linear;
                opacity: 0;
            }

            @keyframes ani1 {
                0%{opacity: 0;}
                100%{opacity: 1;}
            }
        }
    }
}