@import url('./common.css');


button{
    position: fixed;
    left: 90px;
    top: 50px;
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
    border: #fffc00 solid 3px;
    background-color: #000;
    color: #fff;
    z-index: 99;
    cursor: pointer;
    
    
}

div{
    background-color: #000;
    >video{
        width: 100%;
    }
}