@import url('./common.css');

body{background-color: black;
    position: relative;} 

    main{
        display: flex;
    }
    div.sidebar{

    
        width:150px;
        height: 100vh;
        // border:1px solid #fffc00;
        display:flex;
        flex-direction: column;
        align-items: center;
        
        
        
    
    div.btn{
        width: 100%;
        height: 50vh;
            padding:200px 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            transition: 0.3s;
            
            a{color: white;
            span{font-size: 60px;
            transition: 0.3s;}
            p{font-size: 21px;
            transition: 0.3s;
            }}

            &:hover{
                background-color: #fffc00;
                & >a,span{
                    color: #000;
                }
            }
            &.active{
                background-color: #fffc00;
                & >a,span{
                    color: #000;
                }
            }


            }
    
    
    }
    
div.all{width:100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 100px 60px 0px;



div.trash{
    display: flex;
    margin-top: 40px;
        width:100%;
       border-bottom: 1px solid rgb(172, 170, 170);
       margin-bottom: 40px;

        img{display: inline-block;
            width: 40px;
            margin-bottom: 30px;}
        }
        span{
            margin: 10px 0 0 10px;
            text-align: center;
            width: 100px;
            height: 30px;
            line-height: 25px;
            border-radius: 10px;
            display: block;
            color: #fff;
            cursor: pointer;
            border: solid 2px #fffc00;
            display: none;
        
        }






div.picall{
ul {width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
   

li{
    position: relative;
    width:220px;
    height: 250px;
    background-color:#ddd;

    img{width:100%;
        height: 100%;
        object-fit: cover;}}
        p{
            text-align: center;
            width: 100%;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
            color: #fff;
        }
        input{
            // position: absolute;
            // top: 10px;
            // left: 10px;
            // display: block;
            // width: 20px;
            // height: 20px;
            display: none;
        }
        label{
            position: absolute;
            top: 10px;
            left: 10px;
            display: none;
            width: 20px;
            height: 20px;
            background-color:transparent;
            border-radius: 5px;
            border: solid 2px #fffc00;
            
            &.active{
                background-color: #fffc00;
            }
        }
 }
}
}